<!DOCTYPE HTML>
<html>

<head>
    <title>Cards</title>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>

<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="/cards" class="item">All Credit Cards</a>
            <a href="/cards/new" class="item">New Credit Card</a>
        </div>
    </div>